@use "../generalStyles/color" as *;
@use "../generalStyles/fonts" as *;

// General Button Style
.all-btn:hover {
  background-color: $pryColor !important;
}

.GeneralBtnStyle1 {
  @include H5Font;
  background-color: $buttonColor !important;
}

.openConflitBtnStyle {
  @include H5Font;
  background-color: #ffc306 !important;
  color: $pryColor !important;
}
.ongoingConflitBtnStyle {
  @include H5Font;
  background-color: #1fd431 !important;
}
.closeConflitBtnStyle {
  @include H5Font;
  background-color: #d82027 !important;
}

.CloseBtnStyle {
  background: rgba(255, 0, 0, 0.1) !important;
  border: 1px solid rgba(255, 0, 0, 0.3) !important;
  color: rgba(255, 0, 0, 0.7) !important;
}

.GeneralBtnStyle2 {
  background-color: $pryColor !important;
  @include pFont;
}

// Authentication Button Styles
.GoogleAuthBtn {
  @include pFont;
  color: $bodyTextColor !important;
  background-color: inherit !important;
  border: 1px solid $buttonColor !important;
}

.SignUpGroup {
  @include pFont;
  background-color: $pryColor !important;
  color: #ffffff !important;
}

.SignUpGroup:hover,
.SignUpGroup:focus {
  background-color: $buttonColor !important;
  // color: white !important;
}

// NAVIGATION AND VIEW STYLING
.ScrollUpBtnStyle {
  border: 2px solid black !important;
  border-radius: 20px;
}

// OTHER BUTTON STYLING
.CalendarBtnStyle {
  font-weight: 200 !important;
  color: #4b4453 !important;
  background-color: #e5f0ed !important;
}

.CancelBtn {
  @include pFont;
  background-color: $cancelBtnColor !important;
}

.FilteBtnStyle {
  font-weight: 200 !important;
  color: #4b4453 !important;
}

// LearnMoreCardButton
.LearnMoreCardButton {
  width: 140.99px;
  height: 43.75px !important;
  background: rgba(0, 103, 71, 0.9);
  border: 1.94464px solid #ffffff;
  border-radius: 7.4966px;
  color: white !important;
}

// InitiateEscrow
.EscrowTransactTypeBtn {
  color: $pryColor !important;
  border-color: $pryColor !important;
  @include pFont;
}
.EscrowTransactTypeBtn:hover,
.EscrowTransactTypeBtn:focus {
  background-color: $pryColor !important;
  border: 0;
  color: white !important;
}
.pale-red {
  background-color: $cancelBtnColor !important ;
}
.pale-red:hover,
.pale-red:focus {
  background-color: $canceledTextColor !important ;
}

.link-color-reset {
  color: inherit !important;
}

// charts
.switch-charts-btn:hover,
.switch-charts-btn:focus {
  text-decoration: underline;
  opacity: 0.8;
}

.viewBtn:hover,
.viewBtn:focus {
  border-color: currentColor !important;
  font-weight: bold;
}

.pagination-btn:hover,
.pagination-btn:focus {
  background-color: $pryColor !important;
  color: $secColor !important;
  font-weight: unset !important;
}
