@use "../generalStyles/color" as *;
@use "../generalStyles/fonts" as *;

$inputFieldColor: rgba(75, 68, 83, 0.8);

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $placeholderTextColor;
  outline: 0 none;
}

.escrow-price-field {
  border-radius: 5px 0 0 5px !important;
}

.ngn {
  background-color: $pryColor !important;
  padding: 0.375rem 0.75rem;
  border-radius: 5px 0 0 5px;
  color: $secColor !important;
}

.ngn2 {
  border-color: $pryColor !important;
  background-color: $pryColor !important;
  color: $secColor !important;
}

.escrow-images {
  border: 1px dashed rgba(75, 68, 83, 0.3) !important;
}

.escrow-input-field::placeholder,
.escrow-price-field::placeholder {
  @include pFont;
  font-size: 0.75rem !important;
  color: $placeholderTextColor !important;
}

.form-check-label {
  color: $placeholderTextColor !important;
}

.account-details {
  border-left: 3px solid rgba(255, 0, 0, 0.7) !important;
  color: rgba(255, 0, 0, 0.7) !important;
  background-color: rgba(255, 0, 0, 0.1);
  @include pFont;
  font-size: 0.875rem !important;
}

.escrow-form-error {
  color: rgba(180, 19, 10, 0.8) !important;
  @include pFont;
  font-size: 12px !important;
}

// SignIn Form Styling

.labelStyle::placeholder {
  color: rgba(75, 68, 83, 0.5) !important;
  font-size: 14px !important;
}

.sign-up-form {
  .nav-pills .nav-link.active {
    background-color: $pryColor !important;
    font-weight: 400 !important;
  }

  .nav-pills .nav-link {
    font-weight: 400 !important;
    color: $pryColor;
    border: 2px solid $pryColor;
  }
}

// Contest Page styles
.contestPage {
  .row {
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
// Initiate Escrow
.escrow-dropdown-field,
.escrow-dropdown-field:focus,
.escrow-dropdown-field:hover {
  outline: 0 !important;
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0.125);
  font-weight: 300 !important;
}
