@use "../generalStyles/color" as *;
@use "../generalStyles/fonts" as *;

// GuestNavbar styles
.nav-links {
  @include pFont;
  margin: 5px 10px !important;
  color: black !important;
}
// .NavColor {
//   background-color: $NavBarColor;
// }

.hamburgerIcon {
  border: none !important;
  box-shadow: none !important;
}

.guest-nav {
  padding: 10px 20px !important;
}

// User Dashboard Navbar Styles
.userDashboardNav {
  @include userNavFont;
  font-size: 0.75rem !important;
}

.form-control {
  box-shadow: none !important;
}

@media screen and (max-width: 280px) {
  .search {
    height: 30px;
    width: 120px !important;
  }
}
@media screen and(min-width:281px) and (max-width: 540px) {
  .search {
    height: 30px;
    width: 150px !important;
  }
  .searchField {
    margin-right: 20px;
  }
}

@media screen and (max-width: 992px) {
  // GuestNavbar styles

  .nav-text {
    background-color: $pryColor;
    width: 100% !important;
  }
  .nav-links {
    color: white !important;
    padding-left: 50px !important;
    margin-top: 5px;
  }
  .guest-nav {
    margin: 0px !important;
    padding: 0px !important;
  }
}

/**SideNav Styling**/
.offcanvas-backdrop.show {
  opacity: 0 !important;
}
.offcanvas-lg,
.big-side-nav {
  background-color: #fff !important;
  color: $secColor !important;
  height: 100vh;
  span {
    letter-spacing: 1.3px !important;
  }
}

.offcanvas-sm {
  background-color: #fff !important;
}

.big-side-nav {
  width: 22.5% !important;
  position: fixed;
  padding: 20px;
  z-index: 999;
}

.bottom {
  bottom: 10% !important;
}

.active-link {
  text-decoration: none;
  border-radius: 4px 4px;
  padding: 15px 43px;
  color: #fff !important;
  background-color: $pryColor;
  .fill {
    fill: white !important;
    path {
      fill: white !important;
    }
  }
  svg {
    margin-right: 10px;
    path {
      stroke: white;
    }
  }
}

.inactive-link {
  text-decoration: none;
  color: #757575 !important;
  svg {
    margin-right: 10px;
  }
}

.active-linkSm {
  text-decoration: none;
  border-radius: 4px 4px;
  padding: 7px 14px;
  background-color: $pryColor;
  width: 70px;
  height: 40px;
  font-size: 20px;
  .fill {
    fill: white !important;
    path {
      fill: white !important;
    }
  }
  svg {
    path {
      stroke: white;
    }
  }
}

.inactive-linkSm {
  svg {
    transform: translateX(10px) !important;
  }
}

.smlogo {
  width: 25px;
  margin-left: 20px;
}

.SideNavDropdown button {
  background-color: unset !important;
  border: none !important;
  padding: 0 !important;
  color: #757575 !important;
}
.SideNavDropdown button::after {
  display: none !important;
  width: unset !important;
  outline: unset !important;
}

.SideNavDropdown .show a:hover,
:focus {
  font-weight: 700 !important;
}

.offcanvas-header {
  .btn-close {
    background: url("https://api.iconify.design/ri/close-fill.svg?color=white")
      no-repeat center center / contain;
    opacity: 1 !important;
    border: none !important;
    box-shadow: none !important;
  }
}
