@use "../generalStyles/color" as *;
@use "../generalStyles/fonts" as *;

.completed,
.awaiting,
.canceled,
.dispute,
.pending-confirmation,
.pending-payment,
.refunded,
.resolved,
.unresolved {
  padding-block: 0.1rem;
  padding-inline: 0.7rem;
  white-space: nowrap;
}

.completed,
.resolved {
  @include notificationFont;
  color: $pryColor !important;
  background-color: $completedBackgroundColor;
}

.canceled,
.unresolved {
  @include notificationFont;
  color: $canceledTextColor;
  background-color: $canceledBgColor;
}

.cancel {
  @include notificationFont;
  color: $canceledTextColor;
}
.complete {
  @include notificationFont;
  color: $pryColor;
}

.pending {
  @include notificationFont;
  color: $canceledTextColor;
}
.viewMore {
  @include notificationFont;
  color: #3469f9;
  border: 1px solid #adcafe;
  border-radius: 5px;
}

.approved {
  @include notificationFont;
  color: $pendingConfirmationTextColor;
}

.refunded {
  @include notificationFont;
  color: $refundedTextColor;
  background-color: $refundedBgColor;
}

.dispute {
  @include notificationFont;
  color: $inDisputeTextColor;
  background-color: $inDisputeBgColor;
}
.pending-confirmation {
  @include notificationFont;
  color: $pendingConfirmationTextColor;
  background-color: $pendingConfirmationBgColor;
}

.awaiting {
  @include notificationFont;
  color: $awaitingDeliveryTextColor;
  background-color: $awaitingDeliveryBgColor;
}

.pending-payment {
  @include notificationFont;
  color: $pendingPaymentTextColor;
  background-color: $pendingPaymentBgColor;
}

.PartnerStyle {
  background-color: #d9ebe5;
}

@media screen and (max-width: 687px) {
  .completed,
  .awaiting,
  .canceled,
  .dispute,
  .pending-confirmation,
  .pending-payment,
  .pending,
  .approved,
  .refunded,
  .resolved,
  .unresolved {
    font-size: 0.6rem !important;
  }
}
