@use "../generalStyles/color" as *;
@use "../generalStyles/fonts" as *;

@mixin tableFontStyle {
  font-family: "Open Sans" !important;
  font-weight: 400 !important;
}

.BgColor {
  background-color: $pryColor;
}
// Pricing Table
.BgColor {
  background-color: $pryColor;
}

.pricing-table tr:nth-child(even) {
  background-color: $pryColorVariant;
}

.transaction-table,
.all-conflicts-table {
  thead {
    tr {
      th {
        @include tableFontStyle;
        color: #bdbdbd !important;
        font-weight: 400 !important;
      }
    }
  }
  tbody {
    tr {
      td {
        @include tableFontStyle;
        border-bottom: none;
        color: $bodyTextColor;
      }
      border-bottom: 1px solid #bdbdbd;
    }
  }
}

.all-conflicts-table {
  tbody {
    tr {
      border-bottom: none !important;
    }
  }
}

@media screen and (max-width: 290px) {
  .transaction-table,
  .all-conflicts-table {
    thead {
      tr {
        th {
          font-size: 0.375px !important;
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 0.375px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .transaction-table {
    font-size: 0.625rem !important;
  }
  .small-hide {
    display: none;
  }
}

@media screen and (min-width: 688px) and (max-width: 992px) {
  .transaction-table,
  .all-conflicts-table {
    thead {
      tr {
        th {
          font-size: 0.75rem !important;
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 0.75rem !important;
        }
      }
    }
  }
}

// NotificationCard
