$pryColor: #006747;
$pryColorVariant: #e5f0ed;
$secColor: hsl(0, 0%, 100%);
$GrayTextColor: #bdbdbd;
$FooterColor: #b9f1df16;

// Button Color
$buttonColor: #4d957e;
$cancelBtnColor: rgba(255, 0, 0, 0.7);

// text colors
$bodyTextColor: #4b4453;
$mutedTextColor: rgba(255, 255, 255, 0.5);
$placeholderTextColor: rgba(75, 68, 83, 0.5);

// $warningTextColor: #e9d402de;
$errorTextColor: red;
$successTextColor: green;

// Notifications Colors
$completedBackgroundColor: rgba(0, 103, 71, 0.2);
$canceledTextColor: rgba(255, 0, 0);
$canceledBgColor: rgba(255, 0, 0, 0.1);
$refundedTextColor: rgba(0, 97, 103);
$refundedBgColor: rgba(0, 97, 103, 0.1);
$inDisputeTextColor: rgba(103, 0, 99);
$inDisputeBgColor: rgba(103, 0, 99, 0.1);
$pendingConfirmationTextColor: rgba(0, 103, 4);
$pendingConfirmationBgColor: rgba(0, 103, 4, 0.1);
$awaitingDeliveryTextColor: rgba(14, 10, 10, 0.9);
$awaitingDeliveryBgColor: rgba(0, 0, 0, 0.1);
$pendingPaymentTextColor: rgba(165, 42, 42);
$pendingPaymentBgColor: rgba(165, 42, 42, 0.1);

// Chat Components Color
$sendingMessageBgColor: #2e8b57;
$receivingMessageBgColor: $secColor;
$newMessageBgColor: rgba(55, 253, 18, 0.6);
$activeChatColor: $pryColor;

// borderStyle
$inputFieldBorderStyle: 1px solid rgba(75, 68, 83, 0.8);
$userUpdateFormBorderStyle: 1.5px solid rgba(0, 103, 71, 0.3);
$inputFieldColor: rgba(75, 68, 83, 0.8);
$inputFieldBorderStyle: 0.5px solid rgba(75, 68, 83, 0.8);
$NotificationsBorderStyle: 0.1px solid rgba(75, 68, 83, 0.3);
$userUpdateFormBorderStyle: 2px solid rgba(0, 103, 71, 0.3);

// Card Style
$pryColor7: rgba(0, 103, 71, 0.7);
$LogoutBtnColor: rgba(255, 0, 0, 0.7);

.placeholderTextColor {
  color: rgba(75, 68, 83, 0.5);
}

// NavBar & hero Section color
$NavBarColor: rgba(0, 103, 71, 0.06);
$HeroColor: rgba(0, 103, 71, 0.06);
