@use "./color" as *;
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&family=Open+Sans&family=Roboto:wght@500&display=swap");

@mixin H1Font {
  font-family: "Roboto", sans-serif;
  font-size: 3rem !important;
  // line-height: 1.6;
}

@mixin H2Font {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem !important;
  // line-height: 4.78;
}

@mixin H3Font {
  font-family: "Roboto", sans-serif;
  font-size: 2rem !important;
  // line-height: 3.56rem;
}

@mixin H4Font {
  font-family: "Roboto", sans-serif !important;
  font-size: 1.5rem !important;
  // line-height: 2.625rem;
}

@mixin H5Font {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  // line-height: 1.96rem;
  // letter-spacing: 0.08em;
}

@mixin H6Font {
  font-family: "Roboto", sans-serif;
  font-size: 0.5rem;
  // line-height: 1.5rem;
}

@mixin pFont {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
  color: $bodyTextColor;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}

@mixin mutedFont {
  font-family: "Open Sans", sans-serif;
  font-size: 0.5rem;
  // line-height: 0.5rem;
  // letter-spacing: 4px;
}

@mixin notificationFont {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: $bodyTextColor;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}

@mixin userNavFont {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: $bodyTextColor;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}

h1 {
  @include H1Font;
}

h2 {
  @include H2Font;
}

h3 {
  @include H3Font;
}

h4 {
  @include H4Font;
}

h5 {
  @include H5Font;
}

h6 {
  @include H6Font;
}

p {
  @include pFont;
}

.mutedFont {
  @include mutedFont;
}

.notificationFont {
  @include notificationFont;
}

.userNavFont {
  @include userNavFont;
}

.small-text {
  font-size: 0.7rem !important;
}

.normal-text {
  @include pFont;
}

label,
select,
option,
.escrow-images,
.date-input-field {
  font-size: 0.85rem !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 300 !important;
}

.text-small {
  font-size: small !important;
}

@media screen and (max-width: 578px) {
  @mixin H1Font {
    font-size: 2.5rem !important;
  }
  @mixin H2Font {
    font-size: 2rem !important;
  }
  @mixin H3Font {
    font-size: 1.5rem !important;
  }
  @mixin H4Font {
    font-size: 1.25rem !important;
  }
  @mixin H5Font {
    font-size: 1rem !important;
  }
  @mixin H6Font {
    font-size: 0.75rem !important;
  }
  @mixin pFont {
    font-size: 0.8rem !important;
  }
  h1 {
    @include H1Font;
  }

  h2 {
    @include H2Font;
  }

  h3 {
    @include H3Font;
  }

  h4 {
    @include H4Font;
  }

  h5 {
    @include H5Font;
  }

  h6 {
    @include H6Font;
  }

  p,
  div {
    @include pFont;
  }
}


.fs-sm {
  font-size: .75rem !important;
}